<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>BSDTAg : Home</title>
    <link href="imges/bsdtag/favicon.ico" rel="shortcut icon" type="image/icon"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Line icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
          rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme color -->
    <link href="css/theme-color/orange-theme.css" id="switcher" rel="stylesheet">
    <!-- Main Style -->
    <link href="style.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap" rel="stylesheet">


</head>
<body>

<!-- Start Header -->
<header class="" id="mu-header" role="banner">
    <div class="container">
        <nav class="navbar navbar-default mu-navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button aria-expanded="false" class="navbar-toggle collapsed"
                            data-target="#bs-example-navbar-collapse-1"
                            data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Text Logo -->
                    <!--                    <a class="navbar-brand" href="#">BSDTAg</a>-->

                    <!-- Image Logo -->
                    <a class="navbar-brand" href="#">
                        <img class="bsdtag-logo" src="images/bsdtag/BSDTAg.svg" alt="logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mu-menu navbar-right">
                        <li><a href="#">HOME</a></li>
                        <!--                        <li><a href="#mu-about">ABOUT US</a></li>-->
                        <li><a href="#mu-service">PUBLICATIONS</a></li>
                        <li><a href="#mu-projects">PROJECTS</a></li>
                        <!--                        <li><a href="">COLLABORATORS</a></li>-->
                        <li><a href="#mu-team">PEOPLE</a></li>
                        <li><a href="#mu-clients">NEWS</a></li>
                        <li><a href="#mu-contact">CONTACT</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>
<!-- End Header -->

<!-- Start Home -->
<section id="mu-featured-slider">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-featured-slide">

                <div class="mu-featured-slider-single">
                    <div class="mu-featured-slider-content">
                        <h1>Big Scientific Data and Text Analytics Group</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a class="mu-primary-btn" href="#mu-contact">CONTACT US</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Home -->

<!-- Start main content -->

<main role="main">

    <!-- Start About -->
    <section id="mu-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-area">

                        <!-- Start About Us Content -->
                        <div class="mu-about-content">
                            <div class="row">

                                <!-- About Us Single Content -->
                                <div class="col-md-12">
                                    <div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-lock-open"></i>
											</span>
                                        <h4>OUR MISSION</h4>
                                        <p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis
                                            inkeras.</p>
                                    </div>
                                </div>
                                <!-- / About Us Single Content -->

                                <!-- About Us Single Content -->
                                <div class="col-md-12">
                                    <div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-graduation"></i>
											</span>
                                        <h4>OUR RESEARCH</h4>
                                        <p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis
                                            inkeras.</p>
                                    </div>
                                </div>
                                <!-- / About Us Single Content -->


                            </div>
                        </div>
                        <!-- End About Us Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->


    <!-- Start PUBLICATIONS -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-service-area">

                        <div class="mu-service-header">
                            <h2 class="mu-heading-title">OUR <span>PUBLICATIONS</span></h2>
                            <span class="mu-header-dot"></span>
                        </div>

                        <!-- Service Single Content -->
                        <div class="col-md-12">
                            <ul class="mu-service-content-single">
                                {% for publication in publications %}
                                <li>
                                    {% for author in publication.rioxx2_author %}
                                    {{ author.author }};
                                    {% endfor %}
                                    <span class="publications-date">({{ publication.year }})</span>.
                                    <a class="publications-article" href="{{publication.uri}}" target="_blank"
                                       rel="noopener nofollow">{{publication.rioxx2_title}}</a>.

                                    {% if publication.event_title %}
                                    In: <span class="publications-event">{{ publication.event_title }}</span>{% if
                                    publication.event_dates %}, <span class="publications-event">{{ publication.event_dates }}</span>{%
                                    endif %}{% endif %}{% if publication.event_location %}, <span
                                        class="publications-event">{{ publication.event_location }}</span>{% endif %}

                                    {% if publication.publisher %}
                                    <span class="publications-event">{{ publication.publisher }}</span>
                                    {% endif %}

                                    {% if publication.publication %}
                                    <span class="publications-event">{{ publication.publication }}</span>{% endif %}{%
                                    if publication.volume %}, <span
                                        class="publications-event">{{ publication.volume }}</span>
                                    {% endif %}{% if publication.number %}<span class="publications-event">({{ publication.number }})</span>{%
                                    endif %}{% if publication.pagerange %},
                                    <span class="publications-event">pp. {{ publication.pagerange }}</span>
                                    {% endif %}

                                    {% if publication.institution %}
                                    <span class="publications-event">{{ publication.institution }}</span>
                                    {% endif %}


                                    <!--                                            {% if publication.event_title %}-->
                                    <!--                                            <dl>-->
                                    <!--                                                <dt>Event</dt>-->
                                    <!--                                                <dd>{{ publication.event_title }}</dd>-->
                                    <!--                                                <dt>Event type</dt>-->
                                    <!--                                                <dd>{{ publication.event_type }}</dd>-->
                                    <!--                                                <dt>Dates</dt>-->
                                    <!--                                                <dd>{{ publication.event_dates }}</dd>-->
                                    <!--                                                <dt>Location</dt>-->
                                    <!--                                                <dd>{{ publication.event_location }}</dd>-->
                                    <!--                                            </dl>-->
                                    <!--                                            {% endif %}-->


                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- / Service Single Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End PUBLICATIONS -->

    <!-- Start Projects -->
    <section id="mu-projects">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-projects-area">

                        <div class="mu-projects-header">
                            <h2 class="mu-heading-title">OUR <span>PROJECTS</span></h2>
                            <span class="mu-header-dot"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever</p>
                        </div>


                        <!-- Start Projects Content -->
                        <div class="mu-projects-content">
                            <div class="row">

                                <!-- Projects Content -->
                                <div class="col-sm-4">
                                    <div class="mu-projects-content-single">
                                        <a href="https://core.ac.uk/">
                                            <div class="mu-projects-profile text-center">
                                                <img src="images/projects/core.png" alt="project">
                                            </div>
                                            <div class="mu-projects-info">
                                                <h4>CORE</h4>
                                                <span>Connecting Repositories by automatically linking Open Access
                                                research publications </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /  Projects Content -->


                                <!--  Projects Content -->
                                <div class="col-sm-4">
                                    <div class="mu-projects-content-single">
                                        <a href="https://www.fosteropenscience.eu/"
                                           target="_blank"
                                           rel="noopener nofollow">
                                            <div class="mu-projects-profile text-center">
                                                <img src="images/projects/fostert.png" alt="project">
                                            </div>
                                            <div class="mu-projects-info">
                                                <h4>FOSTER</h4>
                                                <span>Facilitate Open Science Training for European Research </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /  Projects Content -->


                                <!--  Projects Content -->
                                <div class="col-sm-4">
                                    <div class="mu-projects-content-single">
                                        <a href="http://kmi.open.ac.uk/projects/name/diggicore"
                                           target="_blank"
                                           rel="noopener nofollow">
                                            <div class="mu-projects-profile text-center">
                                                <img src="images/projects/diggicore.png" alt="project">
                                            </div>
                                            <div class="mu-projects-info">
                                                <h4>Diggi CORE</h4>
                                                <span>Digging into Connected Repositories </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- / Projects Content -->


                            </div>
                        </div>
                        <!-- End Projects Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects -->

    <!-- Start Team -->
    <section id="mu-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-team-area">

                        <div class="mu-team-header">
                            <h2 class="mu-heading-title">OUR <span>PEOPLE</span></h2>
                            <span class="mu-header-dot"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever</p>
                        </div>

                        <!-- Start Team Content -->
                        <div class="mu-team-content">
                            <div class="row">

                                <!-- Team Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/petr-knoth.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Petr Knoth</h4>
                                            <span>Founder & Head of CORE</span>
                                        </div>

                                    </div>
                                </div>
                                <!-- / Team Single Content -->

                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/lucas-anastasiou.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Lucas Anastasiou</h4>
                                            <span>Senior Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->

                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/valeriy-budko.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Valeriy Budko</h4>
                                            <span>Full Stack Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->

                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/matteo-cancellieri.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Matteo Cancellieri</h4>
                                            <span>Senior Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->

                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/bikash-gyawali.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Bikash Gyawali</h4>
                                            <span>Data Analyst & Researcher</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/jozef-harag.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Jozef Harag</h4>
                                            <span>Full Stack Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/drahomira-herrmannova.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Drahomira Herrmannova</h4>
                                            <span>Data Analyst & Researcher</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/alexander-huba.png">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Alexander Huba</h4>
                                            <span>Software Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/catherine-kuliavets.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Catherine Kuliavets</h4>
                                            <span>Personal & Team Administrative Assistant</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/sm.png">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Sergei Misak</h4>
                                            <span>Front-End Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/samuel-pearce.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Samuel Pearce</h4>
                                            <span>Developer and Infrastructure Specialist</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/nancy-pontika.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Nancy Pontika</h4>
                                            <span>Open Access Specialist & Communications</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/david-pride.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>David Pride</h4>
                                            <span>PhD student</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/svetlana-rumyanceva.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Svetlana Rumyanceva</h4>
                                            <span>Project Manager</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/maria-tarasiuk.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Maria Tarasiuk</h4>
                                            <span>Software Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                                <!-- Service Single Content -->
                                <div class="col-sm-4 col-md-3">
                                    <div class="mu-team-content-single">
                                        <div class="mu-team-profile text-center">
                                            <img alt="team member" src="images/team/viktor-yakubiv.jpg">
                                            <div class="mu-team-social-info">
                                                <a href="#"><i class="icon-social-facebook"></i></a>
                                                <a href="#"><i class="icon-social-twitter"></i></a>
                                                <a href="#"><i class="icon-social-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="mu-team-info">
                                            <h4>Viktor Yakubiv</h4>
                                            <span>Senior Front-End Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->


                            </div>
                        </div>
                        <!-- End Team Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team -->


    <!-- Start Clients -->
    <section id="mu-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-clients-area">

                        <div class="mu-clients-header">
                            <h2 class="mu-heading-title">LATEST <span>NEWS</span></h2>
                            <span class="mu-header-dot"></span>
                        </div>

                        <!-- Start Service Content -->
                        <div class="mu-service-content">
                            <div class="row">

                                <!-- Service Single Content -->
                                <div class="col-md-12">
                                    {% for item in news %}
                                    <div class="row news-article">
                                        <article>
                                            <div class="col-xs-12 col-md-2">
                                                {% if item.thumbnail %}
                                                    <img class="img-thumbnail" width="100%" height="100%" src="{{ item.thumbnail }}" alt>
                                                {% else %}
                                                <svg class="img-thumbnail"
                                                     width="100%"
                                                     height="100%"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     preserveAspectRatio="xMidYMid slice"
                                                     focusable="false"
                                                     role="img"
                                                     aria-label="Placeholder: Responsive image">
                                                    <rect  width="100%" height="100%" fill="#f2f2f2"></rect>
                                                    <text xmlns="http://www.w3.org/2000/svg" x="50%" y="50%" xml:space="preserve" style="font-size:16px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#C0C0C0;fill-opacity:1;stroke:none;font-family:Roboto,serif"><tspan x="50%" y="42%">No image</tspan><tspan x="50%" y="58%">available</tspan></text>
                                                </svg>

                                                {% endif %}
                                            </div>
                                            <div class="col-xs-12 col-md-10">
                                                <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
                                                <strong>{{ item.author }}</strong>

                                                <p>{{ item.summary | safe }}</p>
                                            </div>
                                        </article>
                                    </div>
                                    {% endfor %}
                                </div>


                            </div>
                        </div>
                        <!-- End Service Content -->

                        <!--  Twitter News -->
                        <a class="twitter-timeline" data-height="800" data-dnt="true" data-theme="light"
                           data-link-color="#FAB81E" href="https://twitter.com/oacore?ref_src=twsrc%5Etfw">
                            Tweets by oacore</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- ./ Twitter News -->


                        <div class="text-center">
                            <a class="mu-send-msg-btn"
                               href="https://twitter.com/oacore"
                               rel="nofollow noopener"
                               target="_blank">
                                VIEW ALL NEWS</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Clients -->

    <!-- Start Contact -->
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">

                        <div class="mu-contact-header">
                            <h2 class="mu-heading-title">GET <span> IN TOUCH</span></h2>
                            <span class="mu-header-dot"></span>
                        </div>

                        <!-- Start Contact Content -->
                        <div class="mu-contact-content">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mu-contact-left">


                                        <iframe allowfullscreen
                                                frameborder="0" height="500"
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2454.9940829478023!2d-0.7112198483984575!3d52.02520547962405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877ab2e129dcb73%3A0x8cd2ce40201164d8!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQntC_0LXQvQ!5e0!3m2!1sru!2sua!4v1574088798201!5m2!1sru!2sua"
                                                style="border:0" width="100%">

                                        </iframe>


                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mu-contact-right">
                                        <h4>FIND US</h4>
                                        <address>
                                            <p>Knowledge Media Institute</p>
                                            <p>The Open University</p>
                                            <p>Walton Hall</p>
                                            <p>Milton Keynes</p>
                                            <p>MK7 6AA</p>
                                            <p>United Kingdom</p>
                                        </address>
                                        <br/>
                                        <div class="mu-social-media">
                                            <h4>SOCIAL</h4>
                                            <a href="https://twitter.com/oacore"
                                               rel="nofollow noopener"
                                               target="_blank">
                                                <i class="icon-social-twitter"></i></a>
                                            <a href="https://github.com/oacore"
                                               rel="nofollow noopener"
                                               target="_blank">
                                                <i class="icon-social-github"></i></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mu-contact-right">
                                        <div class="mu-social-media">
                                            <h4>JOIN US</h4>
                                            <ul>
                                                <li>Interns (Information about erasmus & self-funded internships for
                                                    bachelor,
                                                    master's, and doctoral degree students)
                                                </li>
                                                <li>PhD students (funding, topics, application process)</li>
                                                <li>Postdoctoral researchers</li>
                                                <li>Engineers / developers</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Contact Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->


</main>

<!-- End main content -->


<!-- Start footer -->
<footer id="mu-footer" role="contentinfo">
    <div class="container">
        <div class="mu-footer-area">
            <a href="http://kmi.open.ac.uk/" rel="nofollow noopener" target="_blank">
                <img src="images/projects/kmi.png" alt="footer logo">
            </a>
            <a href="http://www.open.ac.uk/" rel="nofollow noopener" target="_blank">
                <img src="images/projects/ou.png" alt="footer logo">
            </a>
        </div>
    </div>

</footer>
<!-- End footer -->


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Custom js -->
<script src="js/custom.js" type="text/javascript"></script>


</body>
</html>

