<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
</head>
<body>

<a class="sr-only sr-only-focusable" href="#main">Skip to content</a>

<div id="header" class="navbar navbar-default mu-navbar mu-fixed-nav">
  <div class="container">
    <div class="navbar-header">
      <button aria-expanded="false" class="navbar-toggle collapsed"
          data-target="#bs-example-navbar-collapse-1"
          data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img class="bsdtag-logo" src="images/bsdtag/BSDTAg.svg" alt="BSDTAg">
      </a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mu-menu navbar-right">
        <li><a href="#">HOME</a></li>
        <li><a href="#publications">PUBLICATIONS</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#team">PEOPLE</a></li>
        <li><a href="#news">NEWS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</div>

<header class="intro">
  <div class="container">
    <h1>Big Scientific Data and Text Analytics Group</h1>
  </div>
</header>


<main id="main">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-area">

            <!-- Start About Us Content -->
            <div class="mu-about-content">
              <div class="row">

                <!-- About Us Single Content -->
                <div class="col-md-12">
                  <div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-lock-open"></i>
											</span>
                    <h4>{{ mission.title }}</h4>
                  </div>
                  {{ mission.body | safe }}
                </div>
                <!-- / About Us Single Content -->

                <!-- About Us Single Content -->
                <div class="col-md-12">
                  <div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-graduation"></i>
											</span>
                    <h4>{{ research.title }}</h4>
                  </div>
                  {{ research.body | safe }}
                </div>
                <!-- / About Us Single Content -->


              </div>
            </div>
            <!-- End About Us Content -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="publications">
    <div class="container">
      <div class="mu-service-area">
        <div class="mu-service-header">
          <h2 class="mu-heading-title">OUR <span>PUBLICATIONS</span></h2>
          <span class="mu-header-dot"></span>
        </div>

        <ul class="mu-service-content-single">
          {% for publication in publications.slice(0, 10) %}
            {% include "publications.item.html" %}
          {% endfor %}
        </ul>

    
        <div class="collapse" id="publications-rest">
          <ul class="mu-service-content-single">
            {% for publication in publications.slice(10) %}
              {% include "publications.item.html" %}
            {% endfor %}
          </ul>
        </div>

        <button 
          class="mu-send-msg-btn"
          type="button"
          data-toggle="collapse"
          data-target="#publications-rest"
          aria-expanded="false"
          aria-controls="publications-rest"
        >
          SHOW ALL
        </button>

      </div>
    </div>
  </section>

  <section id="projects">
    <div class="container">
      <div class="mu-projects-area">
        <div class="mu-projects-header">
          <h2 class="mu-heading-title">Our <span>{{ projects.title }}</span></h2>
          <span class="mu-header-dot"></span>

          <p>{{ projects.description }}</p>
        </div>

        <div class="mu-projects-content">
          <div class="row">
            {% for project in projects.items %}
              <div class="col-sm-4">
                {% include "projects.item.html" %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-team-area">

            <div class="mu-team-header">
              <h2 class="mu-heading-title">
                Our <span>{{ team.title }}</span>
              </h2>
              <span class="mu-header-dot"></span>

              <p>{{ team.description }}</p>
            </div>

            <!-- Start Team Content -->
            <div class="mu-team-content">
              <div class="row">
                {% for member in team.members %}
                  <div class="col-sm-4 col-md-3">
                    {% include "team.member.html" %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <!-- End Team Content -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="news">
    <div class="container">
      <div class="mu-clients-area">
        <div class="mu-clients-header">
          <h2 class="mu-heading-title">LATEST <span>NEWS</span></h2>
          <span class="mu-header-dot"></span>
        </div>

        <div class="mu-service-content">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-9">
              {% for item in news.slice(0, 3) %}
                {% include "news.item.html" %}
              {% endfor %}

              <div class="collapse" id="news-rest">
                {% for item in news.slice(3) %}
                  {% include "news.item.html" %}
                {% endfor %}
              </div>


              <button 
                class="mu-send-msg-btn"
                type="button"
                data-toggle="collapse"
                data-target="#news-rest"
                aria-expanded="false"
                aria-controls="news-rest"
              >
                SHOW ALL
              </button>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-3">
              <a class="twitter-timeline" data-height="800" data-dnt="true" data-theme="light"
                 data-link-color="#FAB81E" href="https://twitter.com/oacore?ref_src=twsrc%5Etfw">
                Tweets by oacore</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">

            <div class="mu-contact-header">
              <h2 class="mu-heading-title">GET <span> IN TOUCH</span></h2>
              <span class="mu-header-dot"></span>
            </div>

            <!-- Start Contact Content -->
            <div class="mu-contact-content">
              <div class="row">

                <div class="col-md-6">
                  <div class="mu-contact-left">
                    <iframe
                        allowfullscreen
                        title="Knowledge Media Institute on a map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2455.0071527899513!2d-0.7105597845507344!3d52.024967379723485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877ab318876b757%3A0x12d6530999f5b4a0!2sKnowledge%20Media%20Institute!5e0!3m2!1sen!2sua!4v1587541316845!5m2!1sen!2sua"
                        style="border:0; width: 100%; height:500px; border: 0;">
                    </iframe>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mu-contact-right">
                    <h4>FIND US</h4>
                    <address>
                      <p>Knowledge Media Institute</p>
                      <p>The Open University</p>
                      <p>Walton Hall</p>
                      <p>Milton Keynes</p>
                      <p>MK7 6AA</p>
                      <p>United Kingdom</p>
                    </address>
                    <br/>
                    <div class="mu-social-media">
                      <h4>SOCIAL</h4>
                      <a href="https://twitter.com/oacore"
                         rel="nofollow noopener"
                         target="_blank">
                        <i class="icon-social-twitter"></i></a>
                      <a href="https://github.com/oacore"
                         rel="nofollow noopener"
                         target="_blank">
                        <i class="icon-social-github"></i></a>
                    </div>

                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mu-contact-right">
                    <div class="mu-social-media">
                      <h4>JOIN US</h4>
                      <ul>
                        <li>Interns (Information about erasmus & self-funded internships for
                          bachelor,
                          master's, and doctoral degree students)
                        </li>
                        <li>PhD students (funding, topics, application process)</li>
                        <li>Postdoctoral researchers</li>
                        <li>Engineers / developers</li>
                      </ul>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="mu-footer-area">
      <a href="http://kmi.open.ac.uk/" rel="nofollow noopener" target="_blank">
        <img src="images/projects/kmi.png" alt="Knowledge Media Institute">
      </a>
      <a href="http://www.open.ac.uk/" rel="nofollow noopener" target="_blank">
        <img src="images/projects/ou.png" alt="The Open University">
      </a>
    </div>
  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js" type="text/javascript"></script>

</body>
</html>

