<li>
{% for author in publication.rioxx2_author.slice(0, publication.rioxx2_author.length - 1) %}
  {{ author.author }};
{% endfor %}
{{ publication.rioxx2_author.slice(-1)[0].author }}

<span class="publications-date">({{ publication.year }})</span>.

<a 
  class="publications-article" 
  href="{{publication.uri}}" 
  target="_blank"
  rel="noopener nofollow"
>
  {{publication.rioxx2_title}}
</a>.

{% if publication.event_title %}
In: <span class="publications-event">{{ publication.event_title }}</span>{% if
publication.event_dates %}, <span class="publications-event">{{ publication.event_dates }}</span>{%
endif %}{% endif %}{% if publication.event_location %}, <span
  class="publications-event">{{ publication.event_location }}</span>{% endif %}

{% if publication.publisher %}
<span class="publications-event">{{ publication.publisher }}</span>
{% endif %}

{% if publication.publication %}
<span class="publications-event">{{ publication.publication }}</span>{% endif %}{%
if publication.volume %}, <span
  class="publications-event">{{ publication.volume }}</span>
{% endif %}{% if publication.number %}<span class="publications-event">({{ publication.number }})</span>{%
endif %}{% if publication.pagerange %},
<span class="publications-event">pp. {{ publication.pagerange }}</span>
{% endif %}

{% if publication.institution %}
<span class="publications-event">{{ publication.institution }}</span>
{% endif %}


<!--                      {% if publication.event_title %}-->
<!--                      <dl>-->
<!--                        <dt>Event</dt>-->
<!--                        <dd>{{ publication.event_title }}</dd>-->
<!--                        <dt>Event type</dt>-->
<!--                        <dd>{{ publication.event_type }}</dd>-->
<!--                        <dt>Dates</dt>-->
<!--                        <dd>{{ publication.event_dates }}</dd>-->
<!--                        <dt>Location</dt>-->
<!--                        <dd>{{ publication.event_location }}</dd>-->
<!--                      </dl>-->
<!--                      {% endif %}-->

</li>
