<div class="mu-team-content-single">
  <div class="mu-team-profile text-center">
    <img alt="team member" src="images/team/{{ member.picture }}">
    {#
    <div class="mu-team-social-info">
      <a href="#"><i class="icon-social-facebook"></i></a>
      <a href="#"><i class="icon-social-twitter"></i></a>
      <a href="#"><i class="icon-social-linkedin"></i></a>
    </div>
    #}
  </div>
  <div class="mu-team-info">
    <h4>{{ member.name }}</h4>
    <span>{{ member.role }}</span>
  </div>
</div>
